body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 20px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .booklist{
    width: 90%;
  }

  .booklist-item{
    list-style: none;
  }
  
  .booklist li{
    display: flex;
    list-style: none;
    margin: 10px;
  }

  .booklist .thumbnail{
      margin: 10px 20px;
  }
  h1{
      margin-left: 20px;
  }

 .noimage{
     width:128px;
     height: 181px;
 }